<div class="uk-clearfix">
  <% 50.times do %>
<figure class="uk-thumbnail uk-margin-left uk-margin-top" style="background: transparent url(http://placehold.it/150x200); background-repeat: none;">
  <a href="" class="" data-value="">&#9825;</a>
  <figcaption><strong class="title">This is the title which should be a little longer</strong> <br><span class="numbers"><strong class="fav-count">#12</strong> 465</small></figcaption>
</figure>
<% end %>
</div>
