<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title || 'Streetbees' %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.4/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.4/css/components/sticky.min.css" />
    <link rel="stylesheet" href="/application.css" />
  </head>
  <body>
    <div class="uk-container uk-container-center">
      <nav class="uk-navbar" data-uk-sticky>
        <div class="uk-navbar-center">
          <p class="uk-margin-top"><a href="/" class=""><img src="https://raw.githubusercontent.com/Streetbees/Full-Stack-Engineer-Ruby/master/assets/marvel_logo.png" alt="Marvel" /></a></p>
          <form class="uk-search uk-nav-search uk-margin-bottom" id="search" data-uk-search action="/" method="post">
            <input class="uk-search-field uk-form-width-large" type="search" id="q" name="q" placeholder="Search for marvel characters or teams">
          </form>
        </div>
      </nav>

        <%= yield %>

        <!-- <hr class=""> -->
        <!-- Pagination -->
        <ul class="uk-pagination uk-margin-large">
          <li class="uk-pagination-previous"><a href=""><strong>PREVIOUS PAGE</strong></a></li>
          <li class="uk-pagination-next"><a href=""><strong>NEXT PAGE</strong></a></li>
        </ul>
      </div> <!-- end uk-container -->

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.4/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.4/js/components/sticky.min.js"></script>

    <script src="/application.js"></script>
  </body>
</html>
